/**/
/* plugins */
/**/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(owl.carousel.css);


/**/
/* fonts */
/**/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
	font-family: CrimsonText;
	font-style: normal;
	font-weight: 400;
	src: url(../fnt/CrimsonText-Regular.ttf);
}
@font-face {
	font-family: CrimsonText;
	font-style: italic;
	font-weight: 400;
	src: url(../fnt/CrimsonText-Italic.ttf);
}
@font-face {
	font-family: CrimsonText;
	font-style: normal;
	font-weight: 700;
	src: url(../fnt/CrimsonText-Bold.ttf);
}


/**/
/* reset */
/**/
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockquote, pre,
a, address, del, em, i, strong, sub, sup, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-size: 100%;
	font: inherit;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre, figure, figcaption,
form, fieldset, legend, label, input, select, textarea, button {
	display: block;
}
html, body {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}


/**/
/* defaults */
/**/
html, body {
	background: #fff;
	font: 400 16px/1 CrimsonText, Helvetica, Arial, sans-serif;
	color: #555;
}
p {
	line-height: 1.75;
}
h1 {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	line-height: 1.25;
	font-weight: 700;
	text-transform: uppercase;
	color: #141414;
}
h2 {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	line-height: 1.25;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #141414;
}
h3 {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	line-height: 1.25;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #141414;
}
h4 {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}


/**/
/* wysiwyg */
/**/
.wysiwyg p {
	margin-top: 20px;
	font-family: CrimsonText;
}
.wysiwyg a.read-more {
	text-decoration: underline;
	color: #004684;
}
.wysiwyg p a:hover {
	text-decoration: none;
}
.wysiwyg h1 {
	font-size: 40px;
	text-transform: none;
}
.wysiwyg h2 {
	margin-top: 60px;
	font-size: 32px;
}
.wysiwyg h2:first-child {
	margin-top: 0;
}
.wysiwyg h3 {
	margin-top: 60px;
	font-size: 24px;
}
.wysiwyg h3:first-child {
	margin-top: 0;
}
.wysiwyg h4 {
	margin-top: 40px;
	font-size: 20px;
	font-weight: 700;
	color: #141414;
}
.wysiwyg h4:first-child {
	margin-top: 0;
}
.wysiwyg ul {
	margin: 20px 0 0 20px;
	line-height: 1.5;
}
.wysiwyg ul li {
	position: relative;
	margin-top: 10px;
	padding-left: 30px;
}
.wysiwyg ul li:before {
	content: '–';
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 700;
	color: #141414;
}
.wysiwyg ul a {
	text-decoration: underline;
	color: #004684;
}
.wysiwyg ul a:hover {
	text-decoration: none;
}
.wysiwyg ol {
	margin: 1.5em 0 0 1.5em;
	line-height: 1.5;
}
.wysiwyg ol li {
	position: relative;
	margin-top: 10px;
	padding-left: 30px;
	counter-increment: step-counter;
}
.wysiwyg ol li:before {
	content: counter(step-counter)'.';
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 700;
	color: #141414;
}
.wysiwyg .pic {
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}
.wysiwyg .pic img {
	display: block;
	max-width: 100%;
}
.wysiwyg .pic figcaption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px 20px;
	background: rgba(0,0,0,0.75);
	text-align: right;
	font-size: 14px;
	line-height: 1.5;
	font-style: italic;
	color: #fff;
	transform: translate(0,100%);
	transition: transform 0.3s;
}
.wysiwyg .pic:hover figcaption {
	transform: none;
}
.wysiwyg .map {
	height: 300px;
}
.wysiwyg .map .pin {
	position: absolute;
	width: 10px;
	height: 10px;
	margin: -10px 0 0 -10px;
	border: 5px solid #fff;
	border-radius: 50%;
	background: #004684;
}
.wysiwyg .video {
	position: relative;
	margin-top: 20px;
	padding-top: 56.25%;
}
.wysiwyg .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1229px) { /* laptop */
	.wysiwyg img {
		height: auto;
	}
}


/**/
/* forms */
/**/
.input {
	position: relative;
}
.input input,.input div input {
	width: 100% !important;
	padding: 8px 20px !important;
	border: 1px solid #d7d7d7 !important;
	border-radius: 21px !important;
	box-sizing: border-box !important;
	font-family: Roboto !important;
	font-size: 16px !important;
	line-height: 24px !important;
	transition: border 0.3s !important;
}
.input input:focus,.input div input:focus {
	border-color: #969696 !important;
}
.input input::-moz-input-placeholder,.input div input::-moz-input-placeholder {
	color: #969696;
	transition: color 0.3s !important;
}
.input input::-webkit-input-placeholder,.input div input::-webkit-input-placeholder {
	color: #969696;
	transition: color 0.3s !important;
}
.input input:focus::-moz-input-placeholder,.input div input::-moz-input-placeholder {
	color: #fff !important;
}
.input input:focus::-webkit-input-placeholder,.input div input::-webkit-input-placeholder {
	color: #fff !important;
}
.select {
	position: relative;
	overflow: hidden;
}
.select span {
	display: block;
	width: 100%;
	padding: 8px 40px 8px 20px;
	border: 1px solid #d7d7d7;
	border-radius: 21px;
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: border 0.3s;
}
.select span::after {
	content: "\f107";
	position: absolute;
	top: 1px;
	right: 1px;
	width: 40px;
	border-radius: 50%;
	background: #fff;
	font: normal 14px/40px FontAwesome;
	text-align: center;
}
.select select {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.select select:focus + span {
	border-color: #969696;
}
.button,.arround_button {
	display: inline-block;
    padding: 0px 30px;
	border: 1px solid #004684;
	border-radius: 21px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #004684;
	transition: background 0.3s, color 0.3s;
}
.button:hover,.arround_button:hover {
	background: #004684;
	color: #fff;
}
.button i,.arround_button i {
	margin: 0 -5px 0 15px;
}
.button-green {
	border-color: #27ae60;
	color: #27ae60;
}
.button-green:hover {
	background: #27ae60;
}
.button-white {
	border-color: #fff;
	color: #fff;
}
.button-white:hover {
	background: #fff;
	color: #111;
}


/**/
/* blocks */
/**/
.block {
	margin-bottom: 80px;
}


/**/
/* widgets */
/**/
.widget {
	margin-bottom: 80px;
	padding: 0 30px 30px;
	border: 1px solid #ededed;
}
.widget h4 {
	position: relative;
	margin-top: -11px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #141414;
}
.widget h4 span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	background: #fff;
}
@media screen and (max-width: 999px) { /* tablet */
	.widget {
		padding: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 0;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.widget {
		padding: 0 30px 30px;
		border: 1px solid #ededed;
	}
}


/**/
/* helpers */
/**/
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.cell {
	display: table-cell;
	vertical-align: middle;
}
.blocked {
	display: block;
}
.iblocked {
	display: inline-block;
}
.removed {
	display: none;
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
@media screen and (max-width: 999px) { /* tablet */
	.removed-md {
		display: none !important;
	}
	.blocked-md {
		display: block !important;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.removed-sm {
		display: none !important;
	}
	.blocked-sm {
		display: block !important;
	}
}
@media screen and (max-width: 479px) { /* phone */
	.removed-xs {
		display: none !important;
	}
}



/*----------------------------------------------*/
/*                    LAYOUT                    */
/*----------------------------------------------*/

/**/
/* page */
/**/
/*.page {
	overflow: hidden;
}*/
.page-header {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	padding: 30px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	color: #fff;
	transition: padding 0.3s, background 0.3s;
}
.page-header.fixed {
	position: fixed;
	padding: 15px 30px;
	background: rgba(20,20,20,0.9);
}
.page-footer {
	position: relative;
	overflow: hidden;
}
.page-footer .grid-con {
	position: relative;
	padding: 50px 0 30px;
}
.page-footer .grid-row {
	position: relative;
	z-index: 1;
}
.page-footer .grid-col {
	vertical-align: bottom;
}
.page-footer .grid-con::after {
	content: '';
	position: absolute;
	top: 0;
	left: 33.333%;
	width: 2000px;
	height: 1000px;
	background: #141414;
	transform: rotate(2deg);
	transform-origin: 0 0;
}
.page-footer .grid-con::before {
	content: '';
	position: absolute;
	top: 0;
	right: 66.666%;
	width: 2000px;
	height: 1000px;
	background: #141414;
	transform: rotate(-2deg);
	transform-origin: 100% 0;
}
@media screen and (max-width: 767px) { /* phablet */
	.page-header {
		padding: 20px;
	}
	.page-header.fixed {
		padding: 10px 20px;
	}
}


/**/
/* grid */
/**/
.grid-con {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}
.grid-row {
	margin: 0 -15px;
}
.grid-col {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 0 15px;
	box-sizing: border-box;
}
.grid-col-1 {
	width: 8.333%;
}
.grid-col-2 {
	width: 16.666%;
}
.grid-col-3 {
	width: 25%;
}
.grid-col-4 {
	width: 33.333%;
}
.grid-col-5 {
	width: 41.666%;
}
.grid-col-6 {
	width: 50%;
}
.grid-col-7 {
	width: 58.333%;
}
.grid-col-8 {
	width: 66.666%;
}
.grid-col-9 {
	width: 75%;
}
.grid-col-10 {
	width: 83.333%;
}
.grid-col-11 {
	width: 92.666%;
}
.grid-col-12 {
	width: 100%;
}
@media screen and (max-width: 1229px) { /* laptop */
	.grid-col-lg-6 {
		width: 50%;
	}
}
@media screen and (max-width: 999px) { /* tablet */
	.grid-con {
		padding: 0 20px;
	}
	.grid-row {
		margin: 0 -10px;
	}
	.grid-col {
		padding: 0 10px;
	}
	.grid-col-md-6 {
		width: 50%;
	}
	.grid-col-md-12 {
		width: 100%;
	}	
}
@media screen and (max-width: 767px) { /* phablet */
	.grid-col-sm-12 {
		width: 100%;
	}	
}



/*----------------------------------------------*/
/*                    HEADER                    */
/*----------------------------------------------*/

/**/
/* logo */
/**/
.logo {
	float: left;
}
.logo img {
	vertical-align: top;
}


/**/
/* lang nav */
/**/
.lang-nav {
	position: relative;
	float: right;
	overflow: hidden;
	margin: 4px 0 0 30px;
	font-size: 12px;
	line-height: 30px;
	font-weight: 700;
}
.lang-nav span {
	position: relative;
	display: block;
	padding: 0 30px 0 15px;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 16px;
	transition: border 0.3s;
}
.lang-nav span::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	margin: -1px -2px 0 0;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.lang-nav select {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	opacity: 0;
	cursor: pointer;
}
.lang-nav select:hover + span,
.lang-nav select:focus + span {
	border-color: rgba(255,255,255,0.8);
}
@media screen and (max-width: 999px) { /* tablet */
	.lang-nav {
		display: none;
	}
}


/**/
/* main nav */
/**/
.main-nav {
	font-size: 0;
	text-align: right;
}
.main-nav li {
	display: inline-block;
	margin-left: 1.5em;
	vertical-align: top;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 0.875rem;
	line-height: 40px;
	text-transform: uppercase;
}
.main-nav a {
	position: relative;
	display: block;
}
.main-nav .current_page_item a::after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin-top: -30px;
	border-top: 4px solid;
	transition: margin 0.3s;
}
.main-nav .active {
	position: relative;
	font-weight: 700;
}
.main-nav .active a::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin-top: -30px;
	border-top: 4px solid;
	transition: margin 0.3s;
}
.page-header.fixed .active a::after {
	margin-top: -15px;
}
@media screen and (max-width: 999px) { /* tablet */
	.main-nav {
		display: none;
	}
}


/**/
/* mobile nav */
/**/
.mobile-nav {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #141414;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.75;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255,0.75);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}
.mobile-nav .active {
	font-weight: 700;
	color: #fff;
}
.mobile-nav.active {
	opacity: 1;
	pointer-events: auto;
}


/**/
/* burger */
/**/
.burger {
	position: relative;
	z-index: 11;
	float: right;
	display: none;
	width: 32px;
	height: 32px;
	margin: 4px 0;
}
.burger i {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	margin-top: -1px;
	background: #fff;
	transition: background 0.3s;
}
.burger i::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	margin-top: -7px;
	transition: margin 0.3s, transform 0.3s;
}
.burger i::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	margin-top: 7px;
	transition: margin 0.3s, transform 0.3s;
}
.mobile-nav.active + .burger i {
	background: none;
}
.mobile-nav.active + .burger i::after,
.mobile-nav.active + .burger i::before {
	margin-top: 0;
}
.mobile-nav.active + .burger i::after {
	transform: rotate(45deg);
}
.mobile-nav.active + .burger i::before {
	transform: rotate(-45deg);
}
@media screen and (max-width: 999px) { /* tablet */
	.burger {
		display: block;
	}
}



/*----------------------------------------------*/
/*                    CONTENT                   */
/*----------------------------------------------*/

/**/
/* intro */
/**/
.intro {
	height: 100vh;
	box-sizing: border-box;
	background-position: 50% 50%;
	background-size: cover;
	text-align: center;
}
.intro h1 {
	font-size: 120px;
	line-height: 0.85;
	color: #fff;
}
.intro span {
	display: block;
}
.intro .item-1 {
	font-size: 0.75em;
}
.intro .item-2 {
	font-size: 0.5em;
	font-weight: 400;
}
.intro .item-4 {
	font-size: 0.62em;
	font-weight: 400;
}
.intro .button {
	margin-top: 40px;
}
.intro .reviews {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 60%;
	text-align: right;
	color: #d7d7d7;
}
.intro .reviews p {
	font-style: italic;
	font-size: 20px;
	line-height: 1.25;
}
.intro .reviews h5 {
	margin-top: 10px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
}
.intro .reviews h6 {
	margin-top: 10px;
	font-size: 14px;
}
@media screen and (max-width: 767px) { /* phablet */
	.intro {
		padding-top: 62px;
	}
	.intro h1 {
		font-size: 60px;
	}
	.intro .button {
		margin-top: 20px;
		font-size: 12px;
		line-height: 30px;
	}
	.intro .reviews {
		display: none;
	}
}
@media screen and (max-width: 479px) { /* phone */
	.intro h1 {
		font-size: 54px;
	}
}


/**/
/* headline */
/**/
.headline {
	position: relative;
	overflow: hidden;
	background: #fafafa 50% 100% no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
.headline h1 {
	position: relative;
	font-size: 120px;
	line-height: 1;
	color: #fff;
}
.headline h1 span {
	display: block;
	font-size: 0.25em;
	font-weight: 700;
}
.headline .map {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: -24px;
	left: 0;
	background: #2B2B2B;
}
.headline .map .pin {
	position: absolute;
	width: 10px;
	height: 10px;
	margin: -10px 0 0 -10px;
	overflow: hidden;
	border: 5px solid #fff;
	border-radius: 50%;
	background: #004684;
	transform: translate(0);
	transition: z-index 0.3s, width 0.3s, height 0.3s, margin 0.3s;
}
.headline .map .pin img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s;
}
.headline .map .pin:hover {
	transition: width 0.3s, height 0.3s, margin 0.3s;
}
.headline .map .pin:hover,
.headline .map .pin.active {
	z-index: 3;
	width: 90px;
	height: 90px;
	margin: -50px 0 0 -50px;
}
.headline .map .pin:hover img,
.headline .map .pin.active img {
	opacity: 1;
}
.headline .cell {
	padding-top: 50px;
}
.headline .grid-con {
	position: relative;
	height: 70vh;
}
.headline .grid-con::after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 66.666%;
	width: 2000px;
	height: 1000px;
	background: #fff;
	transform: rotate(-3deg);
	transform-origin: 0 0;
}
.headline .grid-con::before {
	content: '';
	position: absolute;
	z-index: 2;
	top: 100%;
	right: 33.333%;
	width: 2000px;
	height: 1000px;
	background: #fff;
	transform: rotate(3deg);
	transform-origin: 100% 0;
}
@media screen and (max-width: 999px) { /* tablet */
	.headline h1 {
		font-size: 100px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.headline h1 {
		font-size: 60px;
	}
	.headline .grid-con {
		height: 100vh;
	}
}
@media screen and (max-width: 479px) { /* phone */
	.headline h1 {
		font-size: 40px;
	}
}


/**/
/* about */
/**/
.about {
	margin-right: 30px;
}
.about img {
	display: block;
	max-width: 100%;
}
.about .grid-con {
	max-width: 960px;
}
@media screen and (max-width: 999px) { /* tablet */
	.about {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.about {
		margin-right: 0;
	}	
}


/**/
/* lawyers */
/**/
.lawyers h3 {
	color: #fff;
}
.lawyers h4 {
	font-size: 24px;
	line-height: 42px;
	font-weight: 700;
	color: #141414;
}
.lawyers img {
	max-width: 100%;
	vertical-align: top;
}
.lawyers .item {
	position: relative;
	display: block;
	margin-top: 40px;
}
.lawyers .info {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 40px 20px 20px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
}
.lawyers .filter {
	margin-bottom: 40px;
	padding: 30px;
	border: 1px solid #ededed;
}
.lawyers .isotope {
	margin: 0 -15px;
	transition: height 0.5s;
}
.lawyers .isotope-item {
	padding: 0 15px;
	box-sizing: border-box;
}
.lawyers .isotope-item,
.lawyers .isotope-sizer {
	width: 25%;
}
.lawyers-alt img {
	height: auto;
}
.lawyers-alt .isotope-item,
.lawyers-alt .isotope-sizer {
	width: 33.333%;
}
@media screen and (max-width: 1229px) { /* laptop */
	.lawyers img {
		height: auto;
	}
}
@media screen and (max-width: 999px) { /* tablet */
	.lawyers .isotope-item,
	.lawyers .isotope-sizer {
		width: 33.333%;
	}
	.lawyers-alt .isotope-item,
	.lawyers-alt .isotope-sizer {
		width: 50%;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.lawyers .info {
		padding: 20px 10px 10px;
	}
	.lawyers .filter {
		margin-bottom: 0;
		padding: 20px 20px 10px;
	}
	.lawyers .select {
		margin-bottom: 10px;
	} 
	.lawyers .isotope-item,
	.lawyers .isotope-sizer {
		width: 50%;
	}
}


/**/
/* service */
/**/
.service {
	margin-right: 30px;
}
@media screen and (max-width: 999px) { /* tablet */
	.service {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.service {
		margin-right: 0;
	}	
}


/**/
/* services */
/**/
.services {
	margin-top: -80px;
}
.services h3 {
	font-size: 32px;
	line-height: 1.25;
	text-transform: none;
	letter-spacing: 0;
}
.services .item {
	padding: 80px 0;
}
.services .item:nth-child(even) {
	background: #fafafa;
}
.services .cell:first-child {
	padding-right: 60px;
}
.services .button {
	margin-top: 2em;
}
@media screen and (max-width: 999px) { /* tablet */
	.services .pic {
		display: none;
	}
	.services .cell:first-child {
		padding-right: 0;
	}
}


/**/
/* resources */
/**/
.resources {
	margin-right: 30px;
}
.resources p {
	margin-top: 0;
}
.resources h3 {
	text-transform: none;
	letter-spacing: 0;
}
.resources h3 a:hover {
	text-decoration: underline;
}
.resources img {
	vertical-align: top;
}
.resources .pic {
	float: left;
	margin-right: 20px;
}
.resources .item {
	margin-bottom: 60px;
}
.resources .author {
	margin: 5px 0 10px;
	font-style: italic;
	color: #969696;
}
.resources .author a {
	text-decoration: underline;
	color: #004684;
}
.resources .author a:hover {
	text-decoration: none;
}
.resources .button {
	margin-top: 10px;
}
.resources .wysiwyg {
	overflow: hidden;
}
@media screen and (max-width: 999px) { /* tablet */
	.resources {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.resources {
		margin-right: 0;
	}
	.resources .pic {
		display: none;
	}
}


/**/
/* blog */
/**/
.blog {
	margin-right: 30px;
}
.blog p {
	margin-top: 1em;
}
.blog h3 {
	font-size: 24px;
	line-height: 1.25;
	text-transform: none;
	letter-spacing: 0;
}
.blog h3 a:hover {
	text-decoration: underline;
}
.blog p a {
	font-style: italic;
	white-space: nowrap;
}
.blog p i {
	vertical-align: middle;
	margin-left: 6px;
}
.blog img {
	vertical-align: top;
}
.blog .pic {
	float: left;
	margin-right: 30px;
}
.blog .date {
	margin-top: 0.75em;
	font-style: italic;
	font-size: 14px;
	color: #969696;
}
.blog .button {
	margin-top: 20px;
}
.blog .wysiwyg {
	overflow: hidden;
}
@media screen and (max-width: 999px) { /* tablet */
	.blog {
		margin-right: 20px;
	}
	.blog img {
		width: 126px;
		height: 126px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.blog {
		margin-right: 0;
	}
	.blog img {
		display: none;
	}	
}


/**/
/* post */
/**/
.post {
	margin-right: 30px;
}
.post .date {
	margin: 0.75em 0 20px;
	font-style: italic;
	color: #969696;
}
@media screen and (max-width: 999px) { /* tablet */
	.post {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.post {
		margin-right: 0;
	}	
}


/**/
/* offices */
/**/
.offices p {
	margin-top: 0;
	font-size: 14px;
}
.offices p a {
	text-decoration: none;
	color: #141414;
}
.offices p span {
	color: #141414;
}
.offices h3 {
	font-size: 20px;
	text-transform: none;
	letter-spacing: 0;
}
.offices img {
	vertical-align: top;
	border-radius: 50%;
}
.offices .pic {
	float: left;
	margin-right: 20px;
}
.offices .name {
	margin: 5px 0 10px;
	font-style: italic;
}
.offices .button {
	margin-top: 10px;
}
.offices .wysiwyg {
	overflow: hidden;
}


/**/
/* office */
/**/
.office {
	margin-right: 30px;
}
@media screen and (max-width: 999px) { /* tablet */
	.office {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) { /* phablet */
	.office {
		margin-right: 0;
	}	
}


/**/
/* pager */
/**/
.pager {
	text-align: center;
	font-size: 0;
}
.pager a {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	margin: 0 5px;
	border: 1px solid #969696;
	border-radius: 50%;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
}
.pager a:hover {
	border-color: #004684;
	color: #004684;
	transition: border 0.3s, color 0.3s;
}
.pager a.active {
	border-color: #004684;
	background: #004684;
	color: #fff;
	cursor: default;
}
.pager .fa-chevron-left {
	margin-left: -2px;
}
.pager .fa-chevron-right {
	margin-right: -2px;
}
.pager .disabled {
	border-color: #d7d7d7;
	color: #969696;
	pointer-events: none;
}


/**/
/* search */
/**/
.search {
	position: relative;
	padding: 0;
	border: 0;
}
.search .button {
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	padding: 0;
}

.button-inside-search{
	width: 62px;
	padding: 0;
}

.button-inside-search{
	background-color: transparent !important;
}

.search .button i {
	margin: 0;
}


/**/
/* practice areas */
/**/
.practice-areas ul {
	font-family: Roboto;
    font-size: 18px;
    line-height: 1.5;
}
.practice-areas li {
	position: relative;
	margin-top: 0.5em;
	padding-left: 2em;
}
.practice-areas li::before {
	content: '';
	position: absolute;
	top: 0.75em;
	left: 0;
	width: 1em;
	height: 2px;
	margin-top: -2px;
	background: #004684;
}
.practice-areas li a {
	text-decoration: underline;
	color: #004684;
	transition: color 0.3s;
}
.practice-areas li a:hover {
	text-decoration: none;
}
.practice-areas .active a {
	text-decoration: none;
	color: #141414;
	cursor: default;
}
.practice-areas .active::before {
	background: #141414;
}
.practice-areas .active a:hover {
	text-decoration: none;
}


/**/
/* testimonials */
/**/
.testimonials {
	text-align: center;
}
.testimonials p {
	font-style: italic;
	font-size: 1.125em;
	line-height: 1.5;
}
.testimonials h5 {
	margin-top: 1em;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #141414;
}
.testimonials h6 {
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.5;
	color: #969696;
}
.testimonials .pic {
	position: relative;
	height: 63px;
	margin-bottom: 1rem;
}
.testimonials .pic img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 100%;
	height: auto;
}
.testimonials .owl-dots {
	margin-top: 20px;
	font-size: 0;
	text-align: center;
}
.testimonials .owl-dots div {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 50%;
	background: #d7d7d7;
}
.testimonials .owl-dots .active {
	background: #004684;
}


/**/
/* subscription */
/**/
.subscription {
	text-align: center;
}
.subscription p {
	margin-bottom: 20px;
	text-align: left;
	line-height: 1.5;
}
.subscription h3 {
	position: relative;
	margin-bottom: 30px;
	font-size: 20px;
}
.subscription h3::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	border-bottom: 1px solid #ededed;
}
.subscription h3 span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 1em;
	background: #fff;
}
.subscription .note {
	font-size: 14px;
	font-style: italic;
}
.subscription .note i {
	margin: 0 6px 2px 0;
	vertical-align: bottom;
	color: #969696;
}
.subscription .input {
	margin-bottom: 10px;
}
.subscription .button {
	margin-top: 20px;
}


/**/
/* latest posts */
/**/
.latest-posts p {
	overflow: hidden;
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.5;
}
.latest-posts p a {
	white-space: nowrap;
}
.latest-posts h5 {
	line-height: 1.5;
	color: #141414;
}
.latest-posts h5 a:hover {
	text-decoration: underline;
}
.latest-posts img {
	vertical-align: top;
}
.latest-posts .pic {
	float: left;
	margin-right: 20px;
}
.latest-posts .item {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}
.latest-posts .item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.latest-posts .date {
	margin-top: 8px;
	font-style: italic;
	font-size: 14px;
	line-height: 20px;
	color: #969696;
}
.latest-posts .wysiwyg {
	overflow: hidden;
	min-height: 76px;
}
@media screen and (max-width: 999px) { /* tablet */
	.latest-posts .pic {
		display: none;
	}
}


/**/
/* popup */
/**/
.popup {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 20px;
	background: rgba(0,0,0,0.75);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}
.popup .over {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.popup .inner {
	position: relative;
	max-width: 728px;
	margin: 0 auto;
	padding: 40px;
	background: #fff;
	box-sizing: border-box;
	text-align: center;
}
.popup .cross {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	color: #969696;
	transition: color 0.3s;
	transform: rotate(45deg);
}
.popup .cross:hover {
	color: #555;
}
.popup .cross::after,
.popup .cross::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
}
.popup .cross::after {
	margin: -1px 0 0 -10px;
	width: 20px;
	border-top: 2px solid;
}
.popup .cross::before {
	margin: -10px 0 0 -1px;
	height: 20px;
	border-left: 2px solid;
}
.popup.active {
	pointer-events: auto;
	opacity: 1;
}
@media screen and (max-width: 767px) { /* phablet */
	.popup {
		padding: 0;
	}
	.popup .inner {
		padding: 40px 20px;
	}
}


/**/
/* popup lawyer */
/**/
.popup-laweyer p {
	margin-top: 15px;
}
.popup-laweyer p span {
	color: #141414;
}
.popup-laweyer img {
	vertical-align: top;
	max-width: 100%;
}
.popup-laweyer img + .wysiwyg {
	text-align: center;
}
.popup-laweyer ul li {
	margin-top: 5px;
}
.popup-laweyer .inner {
	max-width: 950px;
	text-align: left;
}
.popup-laweyer .wysiwyg {
	font-size: 14px;
}
.popup-laweyer .grid-row {
	margin: 0 -20px;
}
.popup-laweyer .grid-col {
	padding: 0 20px;
}
@media screen and (max-width: 999px) { /* tablet */
	.popup-laweyer img {
		height: auto;
	}
}


/**/
/* popup download */
/**/
.popup-download p {
	margin-bottom: 20px;
}
.popup-download h4 {
	margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
}
.popup-download strong {
	display: block;
	font-weight: 700;
	color: #141414;
}
.popup-download .inner {
	max-width: 600px;
}
.popup-download .input {
	margin-bottom: 20px;
}
.popup-download .button {
	margin-top: 10px;
}



/*----------------------------------------------*/
/*                    FOOTER                    */
/*----------------------------------------------*/

/**/
/* copyrights */
/**/
.copyrights {
	position: relative;
	z-index: 1;
	text-align: center;
	color: rgba(255,255,255,0.7);
}
.copyrights p {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.75;
}
.copyrights a {
	color: rgba(255,255,255,0.4);
	transition: color 0.3s;
}
.copyrights a:hover {
	color: #fff;
}
.copyrights span {
	color: #fe0032;
}


/*----------------------------------------------*/
/*                    My CUSTOM CODE                    */
/*----------------------------------------------*/
.single-expertise .projects{
	margin-top: 50px;
}

.newsletter-content p{
	display: inline;
}